@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Noto+Serif:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a, a:visited {
    color: black;
}

/* Header */
.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .inner-logo img {
    max-height: 50px;
    max-width: 100%;
}

.header .inner-menu>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu>ul>li {
    font-weight: 600;
    margin-left: 20px;
}

.header .inner-menu>ul>li>a {
    color: #333;
}

.header .inner-menu>ul>img {
    width: 30px;
    border-radius: 50%;
    background-color: #ddd;
    padding: 2px;
    cursor: pointer;
    margin-left: 30px;
}

.sub-menu-wrap {
    z-index: 10000;
    position: absolute;
    top: 100%;
    right: -40%;
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-sub-menu {
    max-height: 500px;
}

.sub-menu-wrap.open-sub-menu .sub-menu {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}


.sub-menu-wrap .sub-menu {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
    background: rgb(235, 234, 234);
    padding: 1rem;
    margin: 10px;
}

.sub-menu-wrap .sub-menu .user-info {
    display: flex;
    align-items: center;
}

.sub-menu-wrap .sub-menu .user-info h6 {
    font-weight: 600;
}

.sub-menu-wrap .sub-menu .user-info img {
    width: 25px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu-wrap .sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #919191;
    margin: 10px 0 10px;
}

.sub-menu-wrap .sub-menu .sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #212121;
    margin: 10px 0;
}

.sub-menu-wrap .sub-menu .sub-menu-link a {
    text-decoration: none;
    color: #333;
}

.sub-menu-wrap .sub-menu .sub-menu-link:hover a {
    font-weight: 600;
}

/* End Header */

/* Footer */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* End Footer */

/* Main */
/* css cho cái footer nằm ở dưới đáy */
.main {
    flex: 1;
}

/* End Main */

/* box-head */
.box-head {
    margin-bottom: 30px;
}

.box-head .inner-title {
    margin-bottom: 0;
    font-size: 28px;
    color: #333;
}

/* End box-head */

/* Genre */

.genre-list .card .card-body p, h5 {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 5px;
}

.genre-list .card {
    border-radius: 20px;
    /* border: none; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: white;
    color: #333;
}

.genre-list .card img {
    border-radius: 20px 0 0 0;
}


/* End Genre */

/* song-item */
.song-item {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.song-item .inner-image {
    width: 115px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    overflow: hidden;
}

.song-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-item .inner-content {
    padding: 10px;
    flex: 1;
}

.song-item .inner-content .inner-title {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 5px;
}

.song-item .inner-content .inner-title a {
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.song-item .inner-content .inner-title a:hover {
    color: rgb(152, 0, 152);
    text-decoration: none;
}

.song-item .inner-content .inner-singer {
    font-size: 13px;
    font-weight: 500;
    color: #282828;
    margin-bottom: 2px;
}

.song-item .inner-content .inner-like {
    font-size: 13px;
    font-weight: 500;
    color: #004cd0;
    margin-bottom: 2px;
}

.song-item .inner-content .inner-time {
    font-size: 13px;
    font-weight: 500;
    color: #585858;
}

.song-item .inner-content .inner-heart {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    cursor: pointer;
}

.song-item .inner-content .inner-heart.active {
    color: #b90000;
}

.song-item .inner-content .inner-heart.active i {
    font-weight: 900;
}

/* End song-item */

/* singer-detail */
.singer-detail .inner-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #F57F20;
}

.singer-detail .inner-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.singer-detail .inner-actions .inner-action {
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    color: #646464;
}

.singer-detail .inner-actions .inner-action i {
    font-size: 16px;
    margin-right: 5px;
}

.singer-detail .inner-actions .inner-like {
    cursor: pointer;
}

.singer-detail .inner-actions .inner-like i {
    color: #0059ff;
}

.singer-detail .inner-actions .inner-like.active {
    color: #0059ff;
}

.singer-detail .inner-actions .inner-like.active i {
    font-weight: 900;
}

.singer-detail .inner-actions .inner-heart {
    cursor: pointer;
}

.singer-detail .inner-actions .inner-heart i {
    color: #b90000;
}

.singer-detail .inner-actions .inner-heart.active {
    color: #b90000;
}

.singer-detail .inner-actions .inner-heart.active i {
    font-weight: 900;
}

.singer-detail .inner-play {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.singer-detail .inner-play .inner-audio {
    flex: 1;
}

.singer-detail .inner-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #F57F20;
    margin-right: 20px;
    animation-name: spin;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* mặc định là k xoay */
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.singer-detail .inner-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.singer-detail .inner-desc {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
}

.singer-detail .inner-desc .inner-label {
    font-size: 16px;
    font-weight: 700;
    color: #F57F20;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.singer-detail .inner-desc .inner-text {
    white-space: pre;
    font-size: 14px;
    padding: 10px 15px;
}

/* End singer-detail */

/* box-search */
.box-search {
    position: relative;
}

.box-search .inner-suggest {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 300px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
    overflow-y: auto;
    display: none;
}

.box-search .inner-suggest.show {
    display: block;
}

.box-search .inner-suggest .inner-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.box-search .inner-suggest .inner-item:hover {
    background: #efefef;
    text-decoration: none;
}

.box-search .inner-suggest .inner-item:last-child {
    border-bottom: 0;
}

.box-search .inner-suggest .inner-item .inner-image {
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    overflow: hidden;
}

.box-search .inner-suggest .inner-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-search .inner-suggest .inner-item .inner-info {
    flex: 1;
    margin-left: 10px;
}

.box-search .inner-suggest .inner-item .inner-info .inner-title {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #4d007d;
}

.box-search .inner-suggest .inner-item .inner-info .inner-singer {
    font-size: 13px;
    font-weight: 500;
    color: #282828;
    margin-bottom: 2px;
}

/* End box-search */