doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- fontawesome
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
        //- fav-icon
        link(rel="icon" href=settingGeneral.logo type="image/x-icon")

        title= pageTitle
        style.
            body {
                font-family: Arial, sans-serif;
                background-color: #fff;
                text-align: center;
                padding: 20% 0;
            }
            h1 {
                font-size: 5rem;
                color: #lightgrey;
            }
            p {
                font-size: 1.5rem;
                color: #333;
            }
            a {
                display: block;
                outline: 0;
                border: 0;
                font-size: 50px;
                background: none;
                margin: auto;
                width: 200px;
                transition: transform 0.5s;
                cursor: pointer;
            }

            a:hover {
                transform: translateX(-10px);
            }

            a i:hover {
                color: red;
            }


    body
        h1=pageTitle
        p The page you're looking for does not exist.
        a(onclick="history.back()") 
            i(class="fa-solid fa-circle-arrow-left")